<div class="container mt-5">
    <div class="row">
       <div class="col-md-12">
          <div class="card user-card">
             <div class="card-body">
                <h1><i class="fa fa-lock"></i> Lupa Password</h1>
                <p>Silahkan masukkan license Anda yang terdaftar pada aplikasi ini.</p>
                <form id="forgot-password">
                  <div class="row">
                      <div class="col-md">
                        <div class="form-group">
                          <label>Masukkan license</label>
                          <input class="form-control" type="text" name="license" placeholder="XXXX-XXXX-XXXX-XXXX">
                        </div>
                      </div>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Proses</button>
                  <div id="message"></div>
                </form>
            </div>
          </div>
       </div>
  </div>
  <div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                &copy; <%= new Date().getFullYear() %>, Powered By WHAPI
            </div>
        </div>
    </div>
  </div>
  </div>
  <script>
    $('#forgot-password').validate({
      rules: {
        license: {
          required: true
        }
      },
      messages: {
        license: {
          required: 'License wajib diisi'
        }
      },
      submitHandler: function(form) {
        $.ajax({
            type: 'POST',
            url: '<%= fullUrl %>/forgot-password',
            data: $('#forgot-password').serialize(),
            success: function(e) {
                $('#message').html(e).fadeIn(1000);   
            },
            error: function(xhr, status, error) {
                alert( "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText );
            }
        });
      }
    })
  </script>