<div class="alert alert-success" role="alert">License cocok, sekarang silahkan ganti password Anda.</div>
<form id="change-password" method="post">
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" id="password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" name="con_password">
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary" type="submit">Ganti Password</button>
    </div>
</form>
<script>
    $('#change-password').validate({
    rules: {
      password: {
        required: true,
        minlength: 5
      },
      con_password: {
        required: true,
        minlength: 5,
        equalTo: '#password'
      }
    },
    messages: {
      password: {
        required: 'Password wajib diisi',
        minlength: 'Password minimal 5 karakter'
      },
      con_password: {
        required: 'Konfirmasi Password wajib diisi',
        minlength: 'Konfirmasi password minimal 5 karakter',
        equalTo: 'Password dan konfirmasi password tidak sama'
      }
    },
    submitHandler: function(form) {
      $.ajax({
          type: 'POST',
          url: '<%= fullUrl %>/changeForgotPassword',
          data: $('#change-password').serialize(),
          success: function(e) {
            if (e.status) {
                $('#message').html('<div class="alert alert-'+e.results.clr+'" role="alert">' + e.results.message + '</div>').fadeIn(1000);
                setInterval(function(){
                    window.location.href = '<%= fullUrl %>/login'
                }, 3000)
            }
          },
          error: function(xhr, status, error) {
            alert("Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText)
          }
      });
    }
  });
</script>