<div class="container mt-5">
  <div class="row">
     <div class="col-md-12">
        <div class="card user-card">
           <div class="card-body">
              <h1><i class="fa fa-check-circle"></i> Registrasi Aplikasi</h1>
              <p>Sebelum menggunakan aplikasi, silahkan isi form dibawah ini terlebih dahulu.</p>
              <form id="register" class="form-signin" action="<%= fullUrl %>/signup" method="post">
                <div id="message"><%= message %></div>
                <div class="row">
                    <div class="col-md">
                      <div class="form-group">
                        <label>Nama Awal</label>
                        <input class="form-control" type="text" name="firstName">
                      </div>
                      <div class="form-group">
                        <label>Nama Akhir</label>
                        <input class="form-control" type="text" name="lastName">
                      </div>
                      <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                      </div>
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" name="con_password">
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" name="email">
                      </div>
                      <div class="form-group">
                        <label>No. Handphone</label>
                        <input class="form-control" type="text" name="phone">
                      </div>
                      <div class="form-group">
                        <label>Nama Perushaan ( Jika Ada )</label>
                        <input class="form-control" type="text" name="company">
                      </div>
                      <div class="form-group">
                        <label>Negara</label>
                        <input class="form-control" type="text" name="country">
                      </div>
                      <div class="form-group">
                        <label>Kode Pos</label>
                        <input class="form-control" type="text" name="zip_code">
                      </div>
                      <div class="form-group">
                        <label>Alamat</label>
                        <textarea class="form-control" name="address"></textarea>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="term" /> <label>Dengan mengklik daftar Akun, berarti Anda setuju pada <a href="https://whapi.id/term.html">Syarat & Ketentuan</a> kami</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Daftar Sekarang</button>
              </form>
          </div>
        </div>
     </div>
</div>
<div class="row mt-4">
  <div class="col">
      <div class="card">
          <div class="card-body">
              &copy; <%= new Date().getFullYear() %>, Powered By WHAPI
          </div>
      </div>
  </div>
</div>
</div>
<script>
  $('#register').validate({
    rules: {
      firstName: {
        required: true
      },
      username: {
        required: true,
        minlength: 5
      },
      password: {
        required: true,
        minlength: 5
      },
      con_password: {
        required: true,
        minlength: 5,
        equalTo: '#password'
      },
      email:{
        required: true,
        email: true
      },
      phone: {
        required: true,
        number: true
      },
      zip_code: {
        number: true
      }
    },
    messages: {
      firstName: {
        required: 'Nama awal wajib diisi'
      },
      username: {
        required: 'Username wajib diisi',
        minlength: 'Username minimal 5 karakter'
      },
      password: {
        required: 'Password wajib diisi',
        minlength: 'Password minimal 5 karakter'
      },
      con_password: {
        required: 'Konfirmasi Password wajib diisi',
        minlength: 'Konfirmasi password minimal 5 karakter',
        equalTo: 'Password dan konfirmasi password tidak sama'
      },
      email:{
        required: 'Email wajib diisi',
        email: 'Email tidak valid'
      },
      phone: {
        required: 'No handphone wajib diisi',
        number: 'No. handphone wajib berisi angka'
      },
      zip_code: {
        number: 'Kode pos wajib berisi angka'
      }
    },
    submitHandler: function(form) {
      if($('input[type="checkbox"]').is(":checked")){
        form.submit();
      }
      else if($('input[type="checkbox"]').is(":not(:checked)")){
        alert("Pastikan Anda sudah mencentang syarat dan ketentuan kami.");
      }
      
    }
  })
</script>