<div class="row">
    <div class="col-md-12">
       <div class="card user-card">
        <div class="card-body">
            <h2>Changelog</h2>
            <p>Untuk mengupdate dan maintenance whapi silahkan baca panduan <a href="https://docs.whapi.id/mulai-aplikasi/maintenance-dan-update" target="blank">disini</a></p>
            <%
                for(var i=0; i < data.length; i++){
            %>
            <h5>Versi <%- data[i].tags %> ( <%- data[i].date %> )</h5>
            <p><%- data[i].description %></p>
            <hr/>
            <%
                }
            %>
         </div>
       </div>
    </div>
</div>