<ul class="list-group">
    <li class="list-group-item active"><h5 style="margin:0" class="card-title"><i class="fa fa-lightbulb"></i> Hint</h5></li>
    <%
        for(var i=0; i < 1; i++){
    %>
    <li class="list-group-item"><%- data[i].announcement %></li>
    <%
        }
    %>
</ul>